/*
 * Foto's en afbeeldingen
 */

.photo img {
	margin: 0 auto;
	display: block;
	border: 3px solid #ccc;
}
.photo figure {
	display: block;
}
.photo figcaption {
	display: block;
	text-align: center;
}


/*
 * Fancy opsommingen
 */

.groep {
	margin-bottom: 1em;
}
.goed li::before {
	content: '+ ';
	color: green;
	font-family: "monospace";
	font-weight: bold;
}
.middelmatig li::before {
	content: '± ';
	color: tomato;
	font-family: "monospace";
	font-weight: bold;
}
.slecht li::before {
	content: '− ';
	color: darkred;
	font-family: "monospace";
	font-weight: bold;
}

